<!-- titulo -->
<div class="container">
    <div mat-dialog-title>
        <h1>
            {{
            data?.titulo || 'Confirmación'
            }}
        </h1>
    </div>
    <!-- Contenido -->
    <div mat-dialog-content>
        <p>
            {{
            data?.pregunta || '¿Está seguro?'
            }}
        </p>
    </div>
    <!-- Acciones -->
    <div mat-dialog-actions>
        <button mat-raised-button mat-dialog-close color="primary">{{data?.opcionNo || 'No'}}</button>
        <button mat-raised-button [mat-dialog-close]="true" color="accent">{{data?.opcionSi || 'Sí'}}</button>
        <button mat-raised-button [mat-dialog-close]="false" color="accent" class="botonCerrar">
            <mat-icon aria-hidden="false" aria-label="Example home icon">close</mat-icon>
        </button>
    </div>
</div>