<mat-toolbar color="primary" class="cabecera">
    <div>
        <span [routerLink]="['']">Mi agencia de viajes</span>
        <span [routerLink]="['/viajes']">Inicio</span>
        <span [routerLink]="['/viajes/editar']">Crear Viaje</span>
        <span [routerLink]="['/clientes']">Clientes</span>
        <span [routerLink]="['/clientes/editar']">Crear Cliente</span>
    </div>


    <div>
        <button class="example-spacer" mat-button>
            <mat-icon [routerLink]="['/admin']">admin_panel_settings</mat-icon>
        </button>

        <!-- directiva de angular mat-icon-button -->
        <span class="example-spacer"></span>

        <button mat-icon-button>
            <mat-icon (click)="cerrarSesionClick()">
                logout
            </mat-icon>
        </button>
    </div>

    <!-- <button>
        <i title="Cerrar sesión" class="fas fa-sign-out-alt" (click)="cerrarSesionClick()"></i>
    </button> -->
</mat-toolbar>

<!-- <header></header> -->