.loader-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: rgba(65, 65, 117, 0.144);
  z-index: 999;
}
