<mat-card class="filter-card">
    <mat-card-header>
        <mat-card-title>Edicion de Clientes</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="clientesForm" (ngSubmit)="guardarClick(clientesForm)" [ngClass]="{submited: submitted}">
            <div fxLayout="row wrap" fxLayoutGap="20px">
                <mat-form-field appearance="legacy" fxFlex="1 1 300px">
                    <mat-label>Nombre:</mat-label>
                    <input matInput placeholder="Introduce el nombre" formControlName="nombre">
                </mat-form-field>
                <mat-form-field appearance="legacy" fxFlex="1 1 300px">
                    <mat-label>Apellidos:</mat-label>
                    <input matInput placeholder="Introduce apellidos" formControlName="apellidos">
                </mat-form-field>
                <mat-form-field appearance="legacy" fxFlex="1 1 300px">
                    <mat-label>Email:</mat-label>
                    <input matInput placeholder="Introduce apellidos" type="email" formControlName="email">
                </mat-form-field>
                <mat-form-field appearance="legacy" fxFlex="1 1 300px">
                    <mat-label>Dni:</mat-label>
                    <input matInput placeholder="Introduce apellidos" formControlName="dni">
                </mat-form-field>
                <mat-form-field appearance="legacy" fxFlex="1 1 300px">
                    <mat-label>Teléfono:</mat-label>
                    <input matInput placeholder="Introduce apellidos" type="tel" formControlName="telefono">
                </mat-form-field>
                <mat-form-field appearance="legacy">
                    <mat-label>Estado civil:</mat-label>
                    <mat-select formControlName="estadoCivilId">
                        <mat-option [value]=""></mat-option>
                        <mat-option *ngFor="let item of estadosCiviles" [value]="item.id">{{item.descripcion}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="legacy" fxFlex="1 1 300px">
                    <mat-label>Fecha de nacimiento:</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="fechaNacimiento">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <!-- <input matInput placeholder="Introduce apellidos" type="date" formControlName="fechaNacimiento"> -->
                </mat-form-field>
                <mat-form-field appearance="legacy" fxFlex="1 1 300px">
                    <mat-label>Dirección:</mat-label>
                    <input matInput placeholder="Introduce apellidos" formControlName="direccion">
                </mat-form-field>
            </div>
            <div class="row-buttons">
                <button mat-raised-button color="primary" type="submit">Guardar</button>
                <button mat-raised-button color="accent" type="button" (click)="resetForm()">Resetear</button>
            </div>
        </form>
    </mat-card-content>

</mat-card>
<!-- formGroup, es una directiva que requiere ser instalada como ReactiveForm en app routing module -->
<!-- <form [formGroup]="clientesForm" (ngSubmit)="guardarClick(clientesForm)" [ngClass]="{submited: submitted}">
    <fieldset>
        <legend>
            <h1> Edicion de Clientes</h1>
        </legend>
        <div class=" flex-row">
            <div class="field-element">
                <label for="">Nombre: </label>
                <input id="" type="text" formControlName="nombre">
            </div>
            <div class="field-element">
                <label for="">Apellidos: </label>
                <input id="" type="text" formControlName="apellidos">
            </div>
            <div class="field-element">
                <label for="">Email: </label>
                <input id="" type="email" formControlName="email">
            </div>
            <div class="field-element">
                <label for="">Dni: </label>
                <input id="" type="text" formControlName="dni">
            </div>
            <div class="field-element">
                <label for="">Teléfono: </label>
                <input id="" type="tel" formControlName="telefono">
            </div>
            <div class="field-element">
                <label for="">Estado Civil: </label>
                <select id="" formControlName="estadoCivilId">
                    <option value=""></option>
                    <option *ngFor="let item of estadosCiviles" [ngValue]="item.id">{{item.descripcion}}</option>
                </select>
            </div>
            <div class="field-element">
                <label for="">Fecha de nacimiento: </label>
                <input id="" type="date" formControlName="fechaNacimiento">
            </div>
            <div class="field-element">
                <label for="">Dirección: </label>
                <input id="" type="text" formControlName="direccion">
            </div>

        </div>
    </fieldset>
    <div class="row-buttons">
        <button class="btn primary" type="submit">Guardar</button>
        <button class="btn " type="button" (click)="resetForm()">Resetear</button>
    </div>
</form> -->