<!-- ng add @ngneat/hot-toast -->
<mat-card class="mi-edition-form">
    <mat-card-header>
        <mat-card-title>Edicion de Viajes</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="viajesForm" (ngSubmit)="guardarClick(viajesForm)" [ngClass]="{submited: submited}">
            <div fxLayout="row wrap" fxLayoutGap="20px">
                <mat-form-field appearance="legacy" fxFlex="1 1 300px">
                    <mat-label>Nombre:</mat-label>
                    <input matInput placeholder="Introduce el nombre" formControlName="nombre">
                </mat-form-field>
                <mat-form-field appearance="legacy" fxFlex="1 1 300px">
                    <mat-label>Destino:</mat-label>
                    <input matInput placeholder="Introduce destino" formControlName="destino">
                    <mat-error *ngIf="viajesForm.controls.destino.hasError('invalidDestination')">Restriccion COVID
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="legacy" fxFlex="1 1 300px">
                    <mat-label>Duracion:</mat-label>
                    <input matInput placeholder="Introduce duración" type="number" formControlName="duracion">
                </mat-form-field>
                <mat-form-field appearance="legacy">
                    <mat-label>Tipo de Viaje:</mat-label>
                    <mat-select formControlName="tipoDeViajeId">
                        <mat-option [value]=""></mat-option>
                        <mat-option *ngFor="let item of tiposDeViaje" [value]="item.id">{{item.valor}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="legacy" fxFlex="1 1 300px">
                    <mat-label>Plazas:</mat-label>
                    <input matInput placeholder="Introduce plazas" type="number" formControlName="plazas">
                </mat-form-field>
                <mat-form-field appearance="legacy" fxFlex="1 1 300px">
                    <mat-label>Fecha:</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="fecha">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <!-- <input matInput placeholder="Introduce apellidos" type="date" formControlName="fechaNacimiento"> -->
                </mat-form-field>
                <mat-form-field appearance="legacy" fxFlex="1 1 300px">
                    <mat-label>Precio:</mat-label>
                    <input matInput placeholder="Introduce el precio" class="right-align" type="number"
                        formControlName="precio">
                </mat-form-field>
                <mat-form-field appearance="legacy">
                    <mat-label>Estado:</mat-label>
                    <mat-select formControlName="estado">
                        <!-- <mat-option [value]=""></mat-option>
                        <mat-option *ngFor="let item of tiposDeViaje" [value]="item.id">{{item.valor}}
                        </mat-option> -->
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="legacy">
                    <mat-label>Oferta:</mat-label>
                    <mat-select formControlName="enOferta">
                        <mat-option [value]="true">Sí</mat-option>
                        <mat-option [value]="false">No</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="row-buttons">
                <button mat-raised-button color="primary" type="submit">Guardar</button>
                <button mat-raised-button color="accent" type="button" (click)="resetForm()">Nuevo Viaje</button>
            </div>
        </form>
    </mat-card-content>

</mat-card>

<!-- 
<form [formGroup]="viajesForm" (ngSubmit)="guardarClick(viajesForm)" [ngClass]="{submited: submited}">
    <fieldset>
        <legend>
            <h1> Edicion de Viajes</h1>
        </legend>
        <div class="flex-row">
            <div class="field-element">
                <label for="">Nombre: </label>
                <input id="" type="text" formControlName="nombre">
            </div>
            <div class="field-element">
                <label for="">Destino: </label>
                <input id="" type="text" formControlName="destino">
                <span class="error" *ngIf="viajesForm.controls.destino.hasError('invalidDestination')">Restriccion
                    COVID</span>
            </div>
            <div class="field-element">
                <label for="">Duracion: </label>
                <input id="" type="number" formControlName="duracion">
            </div>
            <div class="field-element">
                <label for="">Tipo de Viaje: </label>
                <select id="" formControlName="tipoDeViajeId">
                    <option *ngFor="let item of tiposDeViaje" [ngValue]="item.id">{{item.valor}}</option>
                </select>
            </div>
            <div class="field-element">
                <label for="">Plazas: </label>
                <input id="" type="number" formControlName="plazas">
            </div>
            <div class="field-element">
                <label for="">Fecha: </label>
                <input id="" type="date" formControlName="fecha">
            </div>
            <div class="field-element">
                <label for="">Precio: </label>
                <input id="" type="number" formControlName="precio">
            </div>
            <div class="field-element">
                <label for="">Estado: </label>
                <select id="" formControlName="estado">
                </select>
            </div>
            <div class="field-element">
                <label for="">Oferta: </label>
                <select id="" formControlName="enOferta">
                    <option [ngValue]="true">Si</option>
                    <option [ngValue]="false">No</option>
                </select>
            </div>
        </div>
    </fieldset>
    <div class="row-buttons">
        <button class="btn primary" type="submit">Guardar</button>
        <button class="btn " type="button" (click)="resetForm()">Nuevo Viaje</button>
    </div>
</form> -->